/* General */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


section{
    padding: 2% 12.66%;
}

.section-headers {
    text-align: center;
}

section h1,
section h2 {
    color: #333;
}

section h1,
#main-header h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

section h2,
#main-header h2 {
    text-transform: capitalize;
    font-family: 'Kaushan Script', cursive;
    font-weight: 100;
    font-size: 16px;
}

hr {
    width: 5%;
    height: 2px;
    background-color: #f38181;
    border: 0px;
}

article {
    text-align: center;
    padding: 2% 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 300;
    color: #b6b6b6;
}

article p {
    width: 74%;
    padding: 0;
    position: relative;
    left: 13%;
}



/* Header */

#main-header {
    background-image: url(../img/header/header-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
    
}

#gradient-mask {
    height: 100%;
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.9));
}

#main-header h1,
#main-header h2 {
    opacity: 1;
    margin: 0;
    color: white;
}

#main-header h1 {
    font-size: 100px;
}

#main-header h2 {
    font-size: 24px;
}

#main-header #headers {
    position: relative;
    text-align: center;
    top: 20%;
    padding: 2% 0%;

}

/* Navigation */

#main-nav {
    position: fixed;
    width: 100%;
    padding: 2% 1.54%;
}

#main-nav ul {
    margin: 0;
    display: inline-block;
    padding: 0;
    text-align: center;
}

#main-nav ul:nth-child(1) {
    width: 36%;
}

#main-nav ul:nth-child(2) {
    width: 62%;
}

#main-nav .main-nav-item {
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

#main-nav-ul .main-nav-item:last-child{
    padding:0;
}


#main-nav .logo {
    display: inline-block;
    text-transform: none;
    font-weight: 700;
    font-size: 22px;
}

.main-nav-item i {
    font-size: 14px;
    /*color:white;*/
}

.main-nav-item a {
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    transition: color .5s;
}

.main-nav-item:not(.logo) a:hover {
    color: rgb(252, 227, 138);
}


#main-nav .active a {
    color: rgb(252, 227, 138);
    border-bottom: 2px solid rgb(252, 227, 138);
}

.main-nav-item #search-form-on {
    display: block;
    color: white;
}

#main-nav #search-form-off {
    display: none;
}

#main-nav .search-form {
    height: 2em;
    width: 80%;
    background-color: rgba(252, 227, 138, 0.2);
    border: solid 1px white;
    border-radius: 15px;
    padding: 10px;
    color: white;
}



#main-nav #search-form-on input:focus {
    background-color: rgba(252, 227, 138, 0.4);
    outline: none;

}

/* Section About Us*/

.about-us-img {
    width: 31%;
    height: 170px;
    margin: 1%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#img-item1 {
    background-image: url(../img/section-about-us/img-1.jpg);
}

#img-item2 {
    background-image: url(../img/section-about-us/img-2.jpg);
}

#img-item3 {
    background-image: url(../img/section-about-us/img-3.jpg);
}

.img-item-mask {
    position: relative;
    height: 100%;
    background: linear-gradient(rgba(243, 129, 129, 0.8), rgba(252, 227, 138, 0.9));
    -webkit-box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    -moz-box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    box-shadow: 6px 6px 2px 0px rgba(149, 225, 211, 1);
    opacity: 0;
    transition: opacity 1s;
}

.img-item-mask:hover {
    opacity: 1;
}

.img-item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-item-content i {
    color: white;
    font-size: 18px;
}

.img-item-content h3 {
    margin: 0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Section Facts */

#facts{
    height: 176px;
    background-color: #95e1d3;
    color:white;
    padding:0 12.66%;
}

#facts-container{
    width:100%;
    height:100%;
    padding:0 1%;
    
}

#facts-container .facts-item{
    width:20%;
    height: 100%;
    
    border-left: 1px solid white;
    display: inline-block;
    float:left;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    
    position:relative;

    
}

#facts-container .facts-item h4
{
    margin: 0;
}

#facts-container .facts-item h5{
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    
}

#facts-container .content-aligne{
        width:100%;
        position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
}

#facts-container .facts-last-item{
    border-right: 1px solid white;
}

/* Section Services */

#services-container{
    padding:2% 0 ;
}

#services-container hr{
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    border: 0px;
}

#services-container .services-item{
    width:33%;
    display: inline-block;
    padding:20px;
}
#services-container .services-item-icon{
    width:10%;
    display: inline-block;
    float:left;
    
    color:#95e1d3;
    font-size:30px;
    margin-right:20px;
}

#services-container .services-item-content{
    width:80%;
    display: inline-block;
}

.services-item-content h6{
    margin: 0;
    padding-bottom: 14px;
    text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 10px;
}

.services-item-content p{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 11px;
    color:#b6b6b6;
}

